body{
  padding: 0;
  margin: 0;
}
ul{
    list-style-type:none;
}
li a {
    text-decoration: none;
}
nav{
  background-color: darkgrey;
}
ul.main_nav{
  overflow: hidden;
  margin: 0;
  padding:0;
  background-color: darkgrey;
  margin-right: 20px;
}
ul.main_nav li{
  float: right
}
ul.main_nav li a{
  color: white;
  display:inline-block;
  padding: 10px;
  font-size: 2em;
}
ul.main_nav li :hover{
  background-color: gray;
}
ul.main_nav li a span{
  position: relative;
  transition: .5s;
}
#contact span:after{
  content: "\2709";
    top: -3px;
  right: -5px;
}
#portfolio span:after{
  content: "\00ab";
  right: -5px;
  top: -1px;
}
ul.main_nav li a span:after{
  position: absolute;
  opacity: 0;
  transition: .5s;
}
#contact  a:hover span{
  padding-right: 40px;
}
#portfolio  a:hover span{
  padding-right: 25px;
}
ul.main_nav li a:hover span:after{
  opacity: 1;
  right: 0;
}
main{
  background-color:lightgrey;
  height: 50rem;
  margin: 1%;
  display: flex;
}
#nav2{
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
    width: 35%;
}
#buttonsNav2{
  display: flex;
  flex-direction: column;
}
#buttonsNav2 button{
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 2em;
  color:white;
  cursor: pointer;
  transition: .5s;
}
#buttonsNav2 button:hover{
  background-color: grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#test{
  text-align: center;
  flex-direction: column;
}
#test ul{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
#test li{
  margin-top: 5px;
  transition: .5s;
}
#test li:hover{
  background-color: grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#test li a{
    color: white;
    font-size: 2em;
    transition: .5s;
}
#test li a:hover{

}
#over_mij{
  float: left;
  width: 65%;
  display: block;
  height: inherit;
  margin-left: 2%;
  border-left: 3px solid black;
}
#over_mij p{
  margin: auto;
}
